* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.app{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0;
    display: flex;
    flex-direction: column;
}
body {
    font-family: 'Gugi', cursive;
}

.bubbles {
    height: 20px;
    width: 20px;
    border-radius: 40%;
    position: absolute;
    bottom: 0%;
    z-index: -1;
    transform: scale(1);
}

.heading {
    text-align: center;
    margin-bottom: 200px;
}

.heading h1 {
    margin: 5px 0px 5px 5px;
    color: chocolate;
}

.pads {
    background: cyan;
    display: flex;
    width: 100%;
}

.pads > div {
    flex: 1;
    width: 100px;
    height: 100px;
}

.pad1 {
    background: cadetblue;
}

.pad2 {
    background: #444444;
}

.pad3 {
    background: rgb(73, 38, 170);
}

.pad4 {
    background: rgb(207, 238, 70);
}

.pad5 {
    background: rgb(20, 19, 19);
}

.pad6 {
    background: rgb(22, 206, 46);
}
